/*--- Fonts ---*/
/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src: url('./../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold */
@font-face {
  font-family: 'Inter';
  src: url('./../fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold Italic */
@font-face {
  font-family: 'Inter';
  src: url('./../fonts/Inter-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  src: url('./../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*--- Reset ---*/
* {
  /*--- Disable outline light on touchscreen devices ---*/
  -webkit-tap-highlight-color: transparent;
  outline: none;

  /*--- Disable select text and image ---*/
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*--- Reset Styles ---*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /*--- Scrollbar for all ---*/
  scrollbar-width: thin; /* thin | auto | none */
  scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
}

/*--- Scrollbar for all ---*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.6);
}

/*--- Vars ---*/
:root {
  /* Colors */
  --main-bg-color: #e1d4c9;
  --background-container: #665f55;
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --border-color: #665f55;
  --pagination-color: #c1b6ad;
  --pagination-active: #665f55;
  --arrow: #403F3D;

  /* paddings */
  --main-paddings: clamp(16px, calc(16px + (40 - 16) * ((100vw - 400px) / (760 - 400))), 40px);
  --mainscrn-paddings-tb: 100px;
  --mainscrn-paddings-lr: clamp(60px, calc(60px + (100 - 60) * ((100vw - 800px) / (1440 - 800))), 100px);
  --footer-paddings-tb: 100px;
  --footer-paddings-lr: clamp(60px, calc(60px + (100 - 60) * ((100vw - 800px) / (1440 - 800))), 100px);

  transition: background-color 0.4s ease, color 0.4s ease;
}

html[data-theme="dark"] {
  --main-bg-color: #292826;
  --background-container: #403f3d;
  --text-primary: #e1d4c9;
  --border-color: #c1b6ad;
  --pagination-color: #665f55;
  --pagination-active: #c1b6ad;
  --arrow: #E1D4C9;
}

/*--- Common ---*/
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-primary);

  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  padding: 20px var(--main-paddings) 40px var(--main-paddings);
}

.link {
  display: flex;
  align-items: flex-start;
  position: relative;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 149%;
  height: 24px;
  overflow: visible;
}

.link__underline {
  position: absolute;
  left: 0px;
  bottom: -2px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2px;
}

.link__underline::after {
  content: '';
  background-color: var(--text-primary);
  display: block;
  width: 1px;
  height: 2px;
  opacity: 0;
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
}

.link_on .link__underline::after {
  width: 100%;
  opacity: 1;
}


/*--- Header ---*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;
}

.header__logo {
  display: block;
  position: relative;

  width: 100px;
  height: 60px;

  background-image: url(./../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.header__logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;

  background-image: url(./../img/logo-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

html[data-theme="dark"] .header__logo::before {
  opacity: 1;
}

.header__menu {
  display: flex;
  gap: clamp(12px, calc(12px + (40 - 12) * ((100vw - 780px) / (930 - 780))), 40px);
}

.header__btns-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: clamp(12px, calc(12px + (24 - 12) * ((100vw - 780px) / (930 - 780))), 24px);
}

.header__mob-menu {
  position: relative;

  display: none;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border: 1px solid var(--border-color);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
}

.header__mob-menu::before,
.header__mob-menu::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 13px;

  width: 16px;
  height: 2px;

  background-color: var(--border-color);
}

.header__mob-menu::after {
  top: auto;
  bottom: 16px;
}

.header__menu-btn_coffee {
  position: relative;
  width: 72px;
}

.header__menu-btn_coffee::before,
.header__menu-btn_coffee::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: visible;
  z-index: 0;

  width: 20px;
  height: 20px;

  background-image: url(./../img/coffee-cup.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  opacity: 1;

  transition: opacity 0.4s ease;
}

.header__menu-btn_coffee::after {
  background-image: url(./../img/coffee-cup-dark.svg);
  opacity: 0;
}

html[data-theme="dark"] .header__menu-btn_coffee::after {
  opacity: 1;
}

.header__theme {
  position: relative;
  width: 88px;
  height: 44px;

  display: block;

  border: none;
  background-color: transparent;
  background-image: url(./../img/theme-switch.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  cursor: pointer;
}

.header__theme::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  background-image: url(./../img/theme-switch-hover.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  opacity: 0;

  transition: opacity 0.4s ease;
}

html[data-theme="dark"] .header__theme {
  background-image: url(./../img/theme-switch-dark.svg);
}

html[data-theme="dark"] .header__theme::before {
  background-image: url(./../img/theme-switch-dark-hover.svg);
}



/*--- Main ---*/
.main {
  width: 100%;
  margin-top: 20px;
  min-height: 100px;
}

/* Main Screen */
.mainscrn {
  position: relative;
  overflow: hidden;

  width: 100%;
  padding: var(--mainscrn-paddings-tb) var(--mainscrn-paddings-lr);

  border-radius: 40px;
  background-image: url(./../img/img-hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainscrn__content {
  width: 100%;
  max-width: 530px;
}

.mainscrn__title {
  font-weight: 600;
  font-size: clamp(42px, calc(42px + (72 - 42) * ((100vw - 400px) / (760 - 400))), 72px);
  color: var(--text-inverse);
  line-height: 1.05;
}

.title-accent {
  font-style: italic;
  color: var(--text-accent);
}

.mainscrn__text {
  margin-top: 40px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-inverse);
}

.mainscrn__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 64px;
  margin-top: 40px;
  border-radius: 100px;

  background-color: var(--main-bg-color);
  font-weight: 600;
  color: var(--text-primary);
}

.mainscrn__link-txt {
  position: relative;
  padding-right: 25px;

  transform: translateX(12px);

  transition: transform 0.4s ease;
}

.mainscrn__link-txt::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;

  width: 20px;
  height: 20px;

  background-image: url(./../img/coffee-cup.svg);
  background-repeat: no-repeat;
  background-image: cover;
  background-position: center;
  opacity: 0;

  transition: opacity 0.4s ease;
}

html[data-theme="dark"] .mainscrn__link-txt::after {
  background-image: url(./../img/coffee-cup-dark.svg);
}

/* Favorite Coffee */
.favorite-coffee {
  margin-top: 100px;
}

.favorite-coffee__title {
  font-size: clamp(32px, calc(32px + (60 - 32) * ((100vw - 400px) / (760 - 400))), 60px);
  color: var(--text-primary);
  text-align: center;
}

.slider {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
}

.slider__pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.slider__pagination {
  display: flex;
  gap: 12px;
}

.slider__pagination-item {
  position: relative;
  overflow: hidden;

  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pagination-color);

  cursor: pointer;
}

.slider__pagination-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 4px;

  border-radius: 2px;
  background-color: var(--pagination-active);
  
  transform: translateX(-100%);
}

.slider__pagination-item:nth-child(1)::before {
  transform: translateX(0%);
}

.slider__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;

  border: 1px solid var(--border-color);
  border-radius: 50%;
  background-color: transparent;

  transition: all 0.4s ease;
  cursor: pointer;
}

.slider__btn svg path {
  stroke: var(--arrow);
  transition: all 0.4s ease;
}

.slider__btn_left {
  transform: rotate(180deg);
}

.slider__line-wrapper {
  position: relative;
  flex: 1 1 auto;
  
  min-height: 100px;
}

.slider__line {
  position: relative;

  display: flex;

  width: 100%;
  min-height: 100px;
}

.slider__slide-item {
  display: flex;
  justify-content: center;
  
  width: 100%;
}

.slide {
  width: 100%;
  max-width: 480px;
}

.slide__img-wrapper {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1 / 1;
}

.slide__header {
  margin-top: 20px;
}

.slide__img {
  width: 100%;
  object-fit: cover;
}

.slide__header {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.slide__description {
  margin-top: 16px;
  text-align: center;
}

.slider__price {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

/* About */
.about {
  margin-top: 100px;
}

.about__title {
  font-size: clamp(32px, calc(32px + (60 - 32) * ((100vw - 400px) / (760 - 400))), 60px);
  font-weight: 600;
  line-height: 1.25;
}

.about__gallery-wrapper {
  display: flex;
  gap: clamp(12px, calc(12px + (40 - 12) * ((100vw - 780px) / (1360 - 780))), 40px);

  margin-top: 40px;
}

.gallery__column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(12px, calc(12px + (40 - 12) * ((100vw - 780px) / (1360 - 780))), 40px);

  width: 50%;
}

.gallery__item {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 66 / 59;

  border-radius: 20px;
}

.gallery__item_small {
  aspect-ratio: 66 / 43;
}

.gallery__img {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

/* Mobile App */
.mob-app {
  position: relative;
  overflow: hidden;

  display: flex;
  gap: 100px;
  margin-top: 100px;
}

.mob-app__column {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  width: 50%;
}

.mob-app__content-wrapper {
  width: 100%;
  max-width: 690px;
}

.mob-app__title {
  font-size: clamp(32px, calc(32px + (60 - 32) * ((100vw - 400px) / (760 - 400))), 60px);
  font-weight: 600;
  line-height: 1.25;
}

.mob-app__description {
  margin-top: 40px;
}

.mob-app__btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mob-app__btns-wrapper {
  margin-top: 40px;
}

.mob-app__link {
  display: flex;
  gap: 8px;
  width: 200px;
  height: 64px;
  padding: 12px 20px;
  align-items: center;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  border-radius: 32px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
}

.mob-app__link svg path {
  fill: var(--text-primary);
  transition: all 0.4s ease;
}

.mob-app__btn-text-wrapper {
  display: block;
}

.mob-app__btn-label {
  display: block;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
}

.mob-app__btn-text {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  margin: 2px 0 0 0;
}

.mob-app__img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 630px;
}

.mob-app__img {
  display: block;
  width: 100%;
}

/*--- Footer ---*/
.footer {
  width: 100%;
  margin-top: 100px;
  padding: var(--footer-paddings-tb) var(--footer-paddings-lr);

  border-radius: 40px;
  background-color: var(--background-container);
}


/*--- Media ---*/
@media (hover: hover) and (pointer: fine) {
  .link:hover .link__underline::after {
    width: 100%;
    opacity: 1;
  }

  .header__theme:hover::before {
    opacity: 1;
  }

  .mainscrn__link:hover .mainscrn__link-txt {
    transform: translateX(0px);
  }

  .mainscrn__link:hover .mainscrn__link-txt::after {
    opacity: 1;
  }

  .slider__btn:hover {
    background-color: var(--border-color);
  }

  .slider__btn:hover svg path {
    stroke: #E1D4C9;
  }

  html[data-theme="dark"] .slider__btn:hover,
  html[data-theme="dark"] .mob-app__link:hover {
    background-color: #403f3d;
    border: 1px solid #403f3d;
  }

  .gallery__img:hover {
    transform: scale(1);
  }

  .mob-app__link:hover {
    color: var(--text-inverse);
    background-color: var(--border-color);
  }

  .mob-app__link:hover svg path {
    fill: var(--text-inverse);
  }
}

@media (max-width: 1150px) {
  .mob-app {
    flex-direction: column;
  }

  .mob-app__column {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  :root {
    --mainscrn-paddings-tb: clamp(60px, calc(60px + (100 - 60) * ((100vw - 400px) / (760 - 400))), 100px);
    --mainscrn-paddings-lr: clamp(16px, calc(16px + (60 - 16) * ((100vw - 400px) / (760 - 400))), 60px); 
    --footer-paddings-tb: clamp(60px, calc(60px + (100 - 60) * ((100vw - 400px) / (760 - 400))), 100px);
    --footer-paddings-lr: clamp(16px, calc(16px + (60 - 16) * ((100vw - 400px) / (760 - 400))), 60px); 
  }

  .header__menu,
  .header__menu-btn_coffee,
  .gallery__column:nth-child(1) .gallery__item:nth-child(2),
  .gallery__column:nth-child(2) .gallery__item:nth-child(1) {
    display: none;
  }

  .header__mob-menu {
    display: flex;
  }

  .about__gallery-wrapper {
    flex-direction: column;
    gap: 40px;
  }

  .gallery__column {
    width: 100%;
    gap: 40px;
  }

  .gallery__item {
    aspect-ratio: auto;
    height: 590px;
  }

  .gallery__img {
    height: 100%;
  }

  .mob-app {
    gap: clamp(40px, calc(40px + (100 - 40) * ((100vw - 400px) / (760 - 400))), 100px);
  }
}

@media (max-width: 500px) {
  .slider__btn-wrapper {
    display: none;
  }
}


/*--- popup ---*/
.popup {
  background-color: var(--main-bg-color);
}

.popup-h2,
.popup-h3 {
  color: var(--text-primary);
  text-align: center;
}

.popup-h2 {
  font-size: 32px;
}

.popup-h3 {
  margin-top: 60px;
  font-size: 26px;
}